{% extends "base.html" %}
{% load static %}


{% block title %}Destacados{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">BRIT PREMIUM 15KG</span>
                    <span class="card-notify-year"><strong>-5%</strong></span>
                    <img src="/static/img/comida-de-perro/comida-brit.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $54.000</span>
                    <span class="card-detail-badge1"> <del>$50.000</del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Chill Out</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">ACANA CAT FIRST FEAST 1.8KG</span>
                    <span class="card-notify-year"><strong>-10%</strong></span>

                    <img src="/static/img/comida-de-gato/comida-acana.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $22.300  </span>
                    <span class="card-detail-badge1"> <del>$30.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Gato en casa</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">FRISBEE</span>
                    <span class="card-notify-year"><strong>-45%</strong></span>

                    <img src="/static/img/accesorios/FRISBEE-perro.jpg  " width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $10.700  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Correa Sublime</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>

    <!--* fin ofertas-->

    <link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">BALLISTIC STICK</span>
                    <span class="card-notify-year"><strong>-5%</strong></span>
                    <img src="/static/img/accesorios/BALLISTIC-STICK.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $15.000</span>
                    <span class="card-detail-badge1"> <del>$20.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord LX</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">TUMBLER BEE</span>
                    <span class="card-notify-year"><strong>-5%</strong></span>

                    <img src="/static/img/accesorios/TUMBLER-BEE.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $23.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda CIVIC HATCHBACK LS</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Correa</span>
                    <span class="card-notify-year"><strong>-5%</strong></span>

                    <img src="/static/img/correas/c5.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord Hybrid LT</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>
    
{% endblock main %}
