{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/proveedores.css">
    <div class="row">
        <h1 class=" title text-center">NUESTROS PROVEEDORES</h1>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Brit Care</h2>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores//Brit-Care-logo.png" alt="purina" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: yellow; font-size: 30px;"> &#9733; &#9733; &#9733; &#9733; &#9733; </p>
                   
                    <p>Precio unitario: <strong> $23.000</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #f85700; color: white;" >Mas información</a>
                </div>
            </div>
        </div>



        
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>CIBAU</h2>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/CibauLogo.png" alt="Hill's" height="100%">
                </div>
                <div class="pt-3">
                 
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   
                    <p>Precio unitario: <strong> $125.000</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #f85700; color: white;" >Más infromación</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>ACANA</h2>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/acana-logo.png"alt="nupec" height="100%">
                </div>
                <div class="pt-3">
                  
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; </p>
                   
                    <p>Precio unitario: <strong> $455845</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #f85700; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Royal canin</h2>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/logo-biofresh.png" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   
                    <p>Precio unitario: <strong> $57458</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #f85700; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>ALL FOR PAWS</h2>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/All-for-Paws-Logo.png"alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                  
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   
                    <p>Precio unitario: <strong> $45578</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #f85700; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>producto</h2>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/purina-one-dog-logo.webp" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   
                    <p>Precio unitario: <strong> $84400</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #f85700; color: white;" >Más información</a>
                </div>
            </div>
        </div>

    </div>

 
{% endblock main %}
