
<!doctype html>
<html lang="en">


    {% extends "base.html" %}

    {% block title %}TECHNOVATION BOYS{% endblock title %}
    
    
    {% block main %}
    
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    






    <div class="container margen-top">


    <div class="row">
        <!-- =============================CARTA 2===================================== -->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="img"> -->
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="img">
                    </figure>
                    <h4 class="card-title"> Bemjamin Herrera </h4>
                    <div class="card-text">
                        Soy un adolescente programador con muchas ganas de seguir aprendiendo para en un futuro llegar a poder ser un programador de exelencia. Y 
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info float-right btn-sm"><a class="follow-1" href="https://github.com/benjhg"> Seguir </a></button>
                </div>
            </div>
        </div>


    <!-- =============================FIN CARTA===================================== -->
        <!-- =============================CARTA 3===================================== -->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="img"> -->
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="img">
                    </figure>
                    <h4 class="card-title">Matias Pereira</h4>
                    <div class="card-text"> Me encuentro estudiando tecnico en programacion en el liceo Arturo Matte Larrain, Recientemente he pasado el examen de cinturon amarillo de Coding Dojo
                    </div>
                </div>
                <div class="card-footer">
                    <small></small>
                    <button class="btn btn-info float-right btn-sm"><a class="follow-1" href="https://github.com/GRUNGERRRR"> Seguir </a></button>
                </div>
            </div>
        </div>
    <!-- =============================FIN CARTA===================================== -->  
        <!-- =============================CARTA 4===================================== -->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="img"> -->
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="img">
                    </figure>
                    <h4 class="card-title">Benjamin Castro</h4>
                    <div class="card-text">Soy un adolescente de 16 años que quiere ser un gran programador full stack y lo lograre a base de estudio, esfuerzo y dedicacion. Estoy muy motivado con seguir mejorando.
                    </div>
                </div>
                <div class="card-footer">
                    <small></small>
                    <button class="btn btn-info float-right btn-sm"><a class="follow-1" href="https://github.com/MatiFernandez2006"> Seguir </a></button>
                </div>
            </div>
        </div>
 <!-- =============================FIN CARTA===================================== -->  
        </div>  
        <div class="row">


            <!-- =============================CARTA 1===================================== -->
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <!-- <img class="card-img-top" src="https://picsum.photos/200/160/?random" alt="img"> -->
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="img">
                        </figure>
                        <h4 class="card-title"> Chris Guttierrez</h4>
                        <div class="card-text">
                            Soy un una estudiate que quiere ser basquetbolista y tambien ser un programador.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small></small>
                        <button class="btn btn-info float-right btn-sm"><a class="follow-1" href="https://github.com/CristoferGZ"> Seguir </a></button>
                    </div>
                </div>
            </div>
    
    
            <!-- =============================FIN CARTA===================================== -->
    
    
            
            <!-- =============================CARTA 2===================================== -->
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="img"> -->
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="img">
                        </figure>
                        <h4 class="card-title">Joaquin Rivas</h4>
                        <div class="card-text">
                            Soy Joaquin un alumno de AML y yo quiero ser un exelente programador.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small></small>
                        <button class="btn btn-info float-right btn-sm"><a class="follow-1" href=""> Seguir </a></button>
                    </div>
                </div>
            </div>
    
    
        <!-- =============================FIN CARTA===================================== -->
    
    
    
    
    
            <!-- =============================CARTA 3===================================== -->
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="img"> -->
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="img">
                        </figure>
                        <h4 class="card-title">Santi Garcia</h4>
                        <div class="card-text">
                           Mi nombre es Santiago Garcia, y me dedico a programar por mi gusto a la informatica, ademas de eso soy deportista y quiero estudiar medicina 
                        </div>
                    </div>
                    <div class="card-footer">
                        <small></small>
                        <button class="btn btn-info float-right btn-sm"><a class="follow-1" href="https://github.com/Santiboss2309"> Seguir </a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- =============================FIN CARTA===================================== -->
        











    <script src="/static/js/bootstrap.bundle.min.js" ></script>
        {% endblock main %}
</body>

</html>





